.skip a{
     top: -65px;
     position: absolute;
}
.skip a:focus{
     top: 25px;
     position: absolute;
}
ul a:hover{
    color: #2F65A7;

}
nav a.active{
    font-weight: 900;
    text-decoration: underline;
}
nav a.active:hover{
    color: #00274C;
}
.networking_title{
    grid-column: 1/-1;
}
.networking_paragraph{
    grid-column: 1/-1;
    text-align: center;
}
.page_title{
    font-size: 35px;
    padding: 15px;
}
.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
     gap: 13px;
}
.container img{
     height: 85%;
     width:95%;
     padding-left: 15px;
    
}
.overview{
    grid-column: 1/-1;
    grid-row: 1/ span 1;
}
iframe{
    grid-column: 1/span 2;
    padding-right: 10px;
    padding-left: 10px;
}
.section_title{
   grid-column: 1/2;
}
.video_text{
    grid-column: 3/-1;
}
.tool_title{
    grid-column: 1/-1;
    text-align: right;
}
.networking_image{
    grid-column: 1/3;
    height:10px;
}
.networking_text{
    grid-column: 3/-1;
}
section{
    grid-column: 1/ -1;
    padding: 20px;
}
section ul{
    padding: 10px;
    list-style-type: none;
}

.resource_list{
    list-style-type: none;
    padding-left:20px;
    grid-column: 1/span 1;
}
.resource_list li{
    padding-bottom: 15px;
}
.resource_image{
  grid-column: 2/-1;
  height:100%;
  width:100%;
  padding: 0px;
}
.resource_list a{
    color: #00274C;
    font-family: 'IBM Plex Sans', sans-serif;
}
p a{
    color: #00274C;
    font-family: 'IBM Plex Sans', sans-serif;
}
p a:hover{
    color:#2F65A7;
}
footer{
    background-color: lightgray;
    height:270px;
    text-align: center;
}
footer p{
    padding: 5px;
}
footer a{
    color: #00274C;
    font-family: 'IBM Plex Sans', sans-serif;
}
footer a:hover{
    color: #2F65A7;
}
footer img{
    width: 35%;
    height:45%;
}
